<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <title>To-Do List Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <h1>LOGIN</h1>
    <form>
        <label>
            Username: <input type="text" id="user"/>
        </label>
        <br/>
        <label>
            Password: <input type="text" id="pass"/>
        </label>
        <br/>
        <button onclick="login()">Login</button>
        <!-- <input type="submit" value="Log In"/> -->
    </form>
    <script src="../static/login.js"></script>
</body>